<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="userService"  class="cn.tf.bos.service.impl.user.UserServiceImpl"></bean>
	<bean id="standardService"  class="cn.tf.bos.service.impl.bc.StandardServiceImpl"></bean>
	<bean id="staffService"  class="cn.tf.bos.service.impl.bc.StaffServiceImpl"></bean>
	<bean id="regionService"  class="cn.tf.bos.service.impl.bc.RegionServiceImpl"></bean>
	<bean id="subareaService"  class="cn.tf.bos.service.impl.bc.SubareaServiceImpl"></bean>
	<bean id="decidedzoneService"  class="cn.tf.bos.service.impl.bc.DecidedzoneServiceImpl"></bean>
	<bean id="noticebillService"  class="cn.tf.bos.service.impl.qp.NoticeBillServiceImpl"></bean>
	<bean id="workordermanagerService"  class="cn.tf.bos.service.impl.qp.WorkOrderManageServiceImpl"></bean>
	<bean id="functionService"  class="cn.tf.bos.service.impl.auth.FunctionServiceImpl"></bean>
	<bean id="roleService"  class="cn.tf.bos.service.impl.auth.RoleServiceImpl"></bean>
	<bean id="bosTaskService"  class="cn.tf.bos.service.impl.workflow.BosTaskServiceImpl"></bean>
	
	
	
	
	
</beans>
