<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置dao -->
	<bean id="userDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.user.User"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="standardDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.bc.Standard"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="staffDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.bc.Staff"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="regionDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.bc.Region"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="subareaDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.bc.Subarea"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="decidedzoneDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.bc.Decidedzone"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="noticebillDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.qp.NoticeBill"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="workbillDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.qp.WorkBill"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="workordermanageDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.qp.WorkOrderManage"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="functionDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.auth.Function"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="roleDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.auth.Role"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="zhongzhuanDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.zm.ZhongZhuanInfo"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="transferInfoDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.zm.TransferInfo"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="inStoreDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.zm.InStore"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="outStoreDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.zm.OutStore"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="receiveGoodsInfoDao" class="cn.tf.bos.dao.impl.BaseDaoImpl">
		<constructor-arg index="0" type="java.lang.String"  value="cn.tf.bos.domain.zm.ReceiveGoodsInfo"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
