<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="loginAction"  class="cn.tf.bos.web.action.user.LoginAction"  scope="prototype" />
	<bean id="userAction"  class="cn.tf.bos.web.action.user.UserAction"   scope="prototype"></bean>
	<bean id="standardAction"  class="cn.tf.bos.web.action.bc.StandardAction"   scope="prototype"></bean>
	<bean id="staffAction"  class="cn.tf.bos.web.action.bc.StaffAction"   scope="prototype"></bean>
	<bean id="regionAction"  class="cn.tf.bos.web.action.bc.RegionAction"   scope="prototype"></bean>
	<bean id="subareaAction"  class="cn.tf.bos.web.action.bc.SubareaAction"   scope="prototype"></bean>
	<bean id="decidedzoneAction"  class="cn.tf.bos.web.action.bc.DecidedzoneAction"   scope="prototype"></bean>
	<bean id="noticebillAction"  class="cn.tf.bos.web.action.qp.NoticeBillAction"   scope="prototype"></bean>
	<bean id="workordermanageAction"  class="cn.tf.bos.web.action.qp.WorkOrderManageAction"   scope="prototype"></bean>
	<bean id="functionAction"  class="cn.tf.bos.web.action.auth.FunctionAction"   scope="prototype"></bean>
	<bean id="roleAction"  class="cn.tf.bos.web.action.auth.RoleAction"   scope="prototype"></bean>
	<bean id="ProcessDefinitionAction"  class="cn.tf.bos.web.action.workflow.ProcessDefinitionAction"   scope="prototype"></bean>
	<bean id="taskAction"  class="cn.tf.bos.web.action.workflow.TaskAction"   scope="prototype"></bean>
	<bean id="processInstanceAction"  class="cn.tf.bos.web.action.workflow.ProcessInstanceAction"   scope="prototype"></bean>
	
	
	
</beans>
